body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    height: 100%;
    margin-top: 23px;
    overflow: hidden
}

canvas {
    border: 2px solid white;
    flex:1;
}